body {
    background-color: #0C1117;
    color: white;
}

header {
    align-content: center;
    text-align: center;
    color: white;
}

nav {
    background-color: #0C1117;
    color: white;
    text-align: center;
    display: block;
    align-content: center;
}

div {
    align-content: center;
    text-align: center;
}

#github {
    background-color: #0C1117;
    background-image: url(github-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-content: center;
}

.in-github {
    color: white;
    align-content: center;
    text-align: center;
}